@model IEnumerable<dev20170602StuSys.Models.Student>

@{
    ViewBag.Title = "Borrow";
}
<h3>学生成绩呈现</h3>
<table>
    <tr class="jumbotron">
        <th>学号</th> 
        <th>学生</th>
        <th>任课老师</th>
        <th>语文成绩</th> 
        <th>数学成绩</th> 
        <th> 英语成绩</th> 
        <th>物理成绩</th>  
        <th>平均分</th>
        <th>总分</th>
        <th></th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.StuId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Chinese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Math)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Physics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.mean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.total)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = student.Id })|
                @Html.ActionLink("刪除", "Delete", new { id = student.Id })
            </td>
</tr>
    }
</table>
@using (Html.BeginForm())
{
    <p>选择排序的方式</p>
<div >
        @Html.DropDownList("Sorting", ViewBag.selList1 as IEnumerable<SelectListItem>)
</div>
    <p></p>
<div>
    <input type="submit" value="查询" class="btn btn-default" /> 
</div>
}

